<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :about, :input_html => { :rows => 4 } %>
  </div>


    <%= f.button :submit, :class => "btn-success" %>

<% end %>
