<div class="row-fluid">
  <div class="span3"><%= render 'details' %></div>
  <div class="span4"><%= render 'wall' %></div>
  <div class="span5"><%= render 'study_plan' %></div>
</div>
<hr>

<%= render 'options' %>

<%= link_to 'See all teams', teams_path, :class => "btn" %>