<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Creator:</b>
  <%= find_user_by_id(@team.creator).name %>
</p>

<p>
  <b>Location:</b>
  <%= @team.location %>
</p>

<p>
  <b>About:</b>
  <%= @team.about %>
</p>

<p>
	<b>Team members:</b>
	<ul>
		<% @team.users.each do |user| %>
			<li><%= link_to user.name, user %></li>
		<% end %>
	</ul>
</p>
<br>
<br>
<% if user_signed_in? %>
	<% if !current_user.is_member?(@team) %>
		<%= link_to "Join this group", join_team_path(:user => current_user), :method => :post, :class => 'btn btn-primary' %>
	<% else %>
	<%= link_to "Leave this group", leave_team_path(:user => current_user), :method => :post, :class => 'btn btn-warning' %>
	<% end %>
<% end %>
<br>
<br>
<h2>Post in <%= @team.name %></h2>
<%= simple_form_for(Post.new) do |f| %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.hidden_field 'postable_id', :value => @team.id %>
    <%= f.hidden_field 'postable_type', :value => 'team' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<h2>All Posts</h2>
<% @team.posts.each do |post| %>
	<p>Posted by <%= link_to post.user.name, post.user %> on <%= post.created_at.strftime("%e %b %y") %></p>
	<p><%= post.content %></p>
	<hr></hr>

<% end %>	


<% if current_user == find_user_by_id(@team.creator) %>
	<%= link_to 'Edit', edit_team_path(@team) %> | <%= link_to 'Delete Team', @team, method: :delete, data: { confirm: 'Are you sure? Deleting this team is permanent and will remove all current members!' } %> |
<% end %>
<%= link_to 'Back', teams_path %>
