<%= simple_form_for(@conversation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :tutorial_id, value: @conversation.tutorial_id %>
    <%= f.association :team, label_method: :name, value_method: :id, include_blank: false, as: :radio_buttons %>
    <%= f.input :where %>
    <%= f.input :when %>
    <%= f.input :url %>

    <p>Getting together online? Try <%= link_to 'Google+', 'https://plus.google.com' %> <%= link_to 'Hangout Parties', 'https://support.google.com/plus/answer/1215273?hl=en' %></p>
    <p>Getting toegether offline? Try <%= link_to 'Meetup.com', 'http://meetup.com' %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
