<h2><%= link_to @conversation.team.name, @conversation.team %></h2>
<p><%= link_to @conversation.tutorial.title, @conversation.tutorial, :class => 'lead' %></p>
<p>Where: <%= @conversation.where %></p>
<p>When: <%= @conversation.when %></p>
<p>Link: <%= link_to @conversation.url, url_with_protocol(@conversation.url) %></p>

<hr>
<h3>Comments</h3>
<% @conversation.posts.each do |post| %>
	<p><%= post.content %></p>
  <p><%= link_to post.user.name, post.user %> on <%= post.created_at.strftime("%e %b %Y") %></p>
	<hr>
<% end %>	

<%= simple_form_for(Post.new) do |f| %>

  <div class="form-inputs">
    <%= f.input :content, :label => "Add your thoughts", :input_html => { :rows => 4 } %>
    <%= f.hidden_field 'postable_id', :value => @conversation.id %>
    <%= f.hidden_field 'postable_type', :value => 'conversation' %>
  </div>
    <%= f.button :submit, "Add your comment" %>
<% end %>


<%= link_to 'Back', conversations_path, :class => "btn" %>
