<h1><%= @user.name %></h1>
<h3>General</h3>
<div class=""><%= gravatar_for @user %></div>
<p><b>Country:</b> <%= @user.location if @user.location %></p>
<p><b>Time Zone:</b> <%= @user.time_zone if @user.time_zone %></p>
<p><b>Contact:</b> <%= @user.email+" (email)"if @user.email %></p>

<h3>Personal Details</h3>
<p><b>First name:</b> <%= @user.firstname if @user.firstname %></p>
<p><b>Last name:</b> <%= @user.lastname if @user.lastname %></p>
<p><b>Education:</b> <%= @user.school if @user.school %></p>
<p><b>Occupation:</b> <%= @user.occupation if @user.occupation %></p>
<p><b>Google+:</b> <%= link_to('My Profile', @user.google_plus) if @user.google_plus %></p>
<div class=""><b>About Me:</b> <%= simple_format h(@user.about) if @user.about %></div>

<h2>Post on <%= @user.name %>'s profile</h2>
<%= simple_form_for(Post.new) do |f| %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.hidden_field 'postable_id', :value => @user.id %>
    <%= f.hidden_field 'postable_type', :value => 'user' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<h2>All Replies</h2>
<% @user.posts.each do |post| %>
	<p>Title: <%= post.title %></p>
	<p>Posted by <%= link_to post.user.name, post.user %> on <%= post.created_at.strftime("%e %b %y") %></p>
	<p><%= post.content %></p>
	<hr></hr>

<% end %>	