<% content_for :title, "Contact Us" %>

<% if user_signed_in? %>
      <%= simple_form_for(Message.new) do |f| %>
            <p>To: Admin</p>
            <p>From: <%= link_to current_user.name, current_user %> (me)</p>
            <%= f.hidden_field 'user_id', :value => 1 %> <!-- Put user id of admin once complete -->
            <%= f.input :title, :autofocus => true %>
            <%= f.input :content %>
            <%= f.hidden_field 'sender_id', :value => current_user.id %>
            <%= f.hidden_field 'read', :value => false %>
            <%= f.hidden_field 'show_sender', :value => true %>
            <%= f.hidden_field 'show_recipient', :value => true %>
            
            <%= f.button :submit, :class => "btn-primary", :value => "Send" %>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <% end %>
<% else %>
<p>Log in or sign up to message us with Rails for Snails</p>
<% end %>
<br><p><em>or</em></p>
<p>Email us at:
      <ul>
            <li><%= link_to 'david@railsforsnails.com', 'mailto:david@railsforsnails.com' %></li>
            <li><%= link_to 'baron@railsforsnails.com', 'mailto:baron@railsforsnails.com' %></li>
            <li><%= link_to 'shal@railsforsnails.com', 'mailto:shal@railsforsnails.com' %></li>
      </ul>
</p>