<% content_for :title, "Welcome to Rails for Snails!" %>

<div class="content">
  <div class="content_box">
    <h3>Newest User</h3>
    <div class="horizontal_line"></div>
    <% unless @users.empty? %>
      <div class="image_frame margin_top_10px">
        <%= set_gravatar_size_for(@users.last,"100px","100px","float_left") %>
        <div class="float_left clear_none margin_left_10px">
          <p><b>User </b><br><%= link_to @users.last.name, @users.last %><br><b>Location</b><br><%= @users.last.location %><br><b>Timezone</b><br><%= @users.last.time_zone %></p>
        </div>
          <p class="float_clear margin_top_5px  "><b>About </b><br><%= @users.last.about %></p>
      </div>
    <% end %>
  </div>
  <div class="content_box">
    <h4>Newest Tutorial</h4>
    <div class="horizontal_line"></div>
    <% unless @tutorials.empty? %>
    	<%= link_to @tutorials.last.title, @tutorials.last %>
    <% end %>
  </div>
  <div class="content_box">
    <h4>Newest Team</h4>
    <div class="horizontal_line"></div>
    <% unless @teams.empty? %>
    	<%= link_to @teams.last.name, @teams.last %>
    <% end %>
  </div>
<%= link_to 'Create a tutorial', new_tutorial_path, :class => "btn btn-success", :style => "color:white;margin:20px;" %>
</div>
<div class="content_side">
  <div class="row-fluid">
  <h3>Building apps is more fun with friends.</h3>
  <p class="lead">Join x Snails already learning to shape the web.</p>
  <%= link_to 'Sign Up', new_user_path, :class => "btn btn-large btn-success" %>
</div>
</div>
