<h3>Curious Coders</h3>

<h4>Newest User</h4>
  <% unless @users.empty? %>
  	<%= link_to @users.last.name, @users.last %>
  <% end %>
<hr>
<h4>Newest Tutorial</h4>
  <% unless @tutorials.empty? %>
  	<%= link_to @tutorials.last.title, @tutorials.last %>
  <% end %>
<hr>
<h4>Newest Team</h4>
  <% unless @teams.empty? %>
  	<%= link_to @teams.last.name, @teams.last %>
  <% end %>
<br>
<hr>
<%= link_to 'Create a tutorial', new_tutorial_path, :class => "btn btn-success", :style => "color:white;" %>
<br>
<br>
<br>
<br>

<%= form_tag tutorials_path, :method => :get, :class => 'form-search search-bar' do %>

	<div class="input-append">
    	<%= text_field_tag :search, params[:search], :class => 'search-query', :placeholder => 'Enter a tag' %>
    	<%= button_tag :class => "btn btn-primary" do %>
     	<i class="icon-search icon-white"></i> Search
    </div>
	<% end %>

<% end %>



