<%= simple_form_for(@tutorial) do |f| %>

 <!-- <div class="form-inputs">-->
    <%= f.input :title, :label => "Title" %>
    <%= f.input :about, :label => "About" %>
    <%= f.input :url %>

    <%= f.button :submit, :class => 'btn btn-success' %>
 <!-- </div>-->
<% end %>
