<table class="table table-condensed">
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Submitted on</th>
    <th>Submitted by</th>
    <th></th>
    <th>Delete?</th>
  </tr>

    <% @tutorials.each do |tutorial| %>
        <tr>
            <td><%= link_to tutorial.title, tutorial %></td>
            <td><%= link_to tutorial.url, url_with_protocol(tutorial.url) %></td>
            <td><%= tutorial.created_at.strftime("%I:%M%p,  %m/%d/%Y") %></td>
            <% if tutorial.user_id? %>
              <td><%= find_user_by_id(tutorial.user_id).name %></td>
            <% else %>
              <td>Default</td>
            <% end %>
            <td></td>
            <td><%= link_to("Delete tutorial", tutorial_path(tutorial), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %></td>
        </tr>
    <% end %>
</table>