<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tutorial.title %>
</p>

<p>
  <b>About:</b>
  <%= @tutorial.about %>
</p>


  <b>Url:</b>
  <%= link_to @tutorial.url, @tutorial.url %>
</p>

<p>
  <b>User:</b>
  <%= @tutorial.user %>
</p>

	<% @tutorial.tags.any? %>
  	<% @tutorial.tags.each do |tag| %>
  	<%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>


<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
