<<<<<<< HEAD


<div class="footer">
	
	<div class="pull-right">
		<p>
			&copy; Curious Coders 2013 &middot;
			<%= link_to "Privacy", privacy_path %> &middot;
			<%= link_to "Contact", contact_path %> &middot;
			
		</p>
	</div>
	
=======
<div class="footer">
	<hr>
	<div class="pull-left"><p>&copy; Rails for Snails.com 2013</p></div>     
	<div class="pull-right"><%= link_to 'Contact Us', contact_path %> &middot; <%= link_to 'Privacy', privacy_path %> &middot; About &middot; <%= link_to 'Ruby on Rails.org', "http://rubyonrails.org/" %></div>
>>>>>>> upstream/master
</div>